.layout-sidebar {
  position: fixed;
  width: 20rem;
  height: calc(-8rem + 100vh);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 6rem;
  left: 2rem;

  .p-menu {
    padding: 0.5rem 1.5rem;

    .p-menu-submenu-label, 
    .p-menu-item {
      color: var(--text-color);
    }

    .p-menu-submenu-label {
      text-transform: uppercase;
    }

    .p-menu-item-link {
      padding: 0.75rem 1rem 0.75rem 1.5rem;
    }
  }
}