.layout-sidebar {
  position: fixed;
  width: 20rem;
  height: calc(-8rem + 100vh);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 6rem;
  left: 2rem;

  .p-menu { border: none; }
}

